<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.12" targetFramework="net452" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="gitlink" version="2.3.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="VDS.Common" version="1.6.4" targetFramework="net452" />
</packages>